body {
    background-color: #D0E8F2;
    /* color: #E6DFF1; */
    font-family: Tahoma, sans-serif;
}

#title {
    font-size: 78px;
    color: #F3C29F;
    font-family: Tahoma, sans-serif;
    font-weight: 300;
    font-weight: bold;
}

#title2 {
    font-size: 45px;
    color: #6ABAB3;
    font-family: Tahoma, sans-serif;
    font-weight: 250;
}

.region-outer {
    margin-top: 35px;
    margin-left: 15px;
    padding: 1%;
    background-color: #EDE1D4;
}

.region-inner {
    margin: 5px;
    padding: 2.5%;
    background-color: rgb(245, 241, 233);
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.task {
    text-transform: capitalize;
    margin: 2px;
}

button {
    margin: 2px;
    border-width: 1.5px;
    border-radius: 4px;
    background-color: rgb(247, 230, 166);
    color: #708a9c;
}

input {
    margin: 2px;
    border-width: 1.5px;
    border-radius: 4px;
    background-color: #f7e9cd;
    color: #708a9c;
}

.btn {
    background-color: #F7E6A6;
    color: #708a9c;
}

.btn:hover {
    background-color: #F7E6A6;
    color: #a1c7e2;
}